<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud To Keep Growing</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam, fugit.
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Supr Easy to use</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus,
        fugit. Quo numquam ea reiciendis voluptatem accusamus dolorem quis
        doloribus ullam quaerat minima illo aut asperiores, aperiam natus illum
        est officiis?
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
      />
      <source
        type="image/jbg"
        srcset="images/easy.jbg 1x, images/easy@2x.jbg 2x"
      />
      <img class="feature__image" src="images//easy.jpg" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#settings"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Supr Easy to use</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus,
        fugit. Quo numquam ea reiciendis voluptatem accusamus dolorem quis
        doloribus ullam quaerat minima illo aut asperiores, aperiam natus illum
        est officiis?
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/fast.webp 1x, images/fast@2x.webp 2x"
      />
      <source
        type="image/jbg"
        srcset="images/fast.jbg 1x, images/fast@2x.jbg 2x"
      />
      <img class="feature__image" src="images//fast.jpg" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Supr Easy to use</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus,
        fugit. Quo numquam ea reiciendis voluptatem accusamus dolorem quis
        doloribus ullam quaerat minima illo aut asperiores, aperiam natus illum
        est officiis?
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/wordpress.webp 1x, images/wordpress@2x.webp 2x"
      />
      <source
        type="image/jbg"
        srcset="images/wordpress.jbg 1x, images/wordpress@2x.jbg 2x"
      />
      <img class="feature__image" src="images//wordpress.jpg" alt="" />
    </picture>
  </article>
</section>
