<section class="block block--dark block--skewed-left hero">
  <div class="container grid grid--1x2">
    <div class="hear__content">
      <h1 class="block__heading">Cloud Hosting For Pros</h1>
      <p class="hreo__tagline">Deploy your website in less than 60 seconds</p>
      <a href="" class="btn btn--accent btn--streached">Get Started </a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcsett="images/ipad.webp 1x, images/ipad@2x.webp 2x"
      />
      <source
        type="image/png"
        srcsett="images/ipad.png 1x, images/ipad@2x.png 2x"
      />
      <img class="hero__image" src="Images/banner.png" alt="" />
    </picture>
  </div>
</section>
